<!-- <ul>
  <label for='name'>Name</label>
  <li id='name'>
    <%= @cat.name  %>
  </li>
  <br>

  <label for='color'>Color</label>
  <li id='color '>
    <%= @cat.color  %>
  </li>
  <br>

  <label for='sex'>Sex</label>
  <li id='sex'>
    <%= @cat.sex  %>
  </li>
  <br>

  <label for='description'>Description</label>
  <li id='description'>
    <%= @cat.description  %>
  </li>
  <br>

  <label for='age'>Age</label>
  <li id='age'>
    <%= @cat.age  %>
  </li>
</ul> -->

<table>
  <tr>
    <th>*Name*</th>
    <th>*Color*</th>
    <th>*Sex*</th>
    <th>*Description*</th>
    <th>*Age*</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
    <td><%= @cat.age %></td>
  </tr>

</table>
